body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: black;
    height: 150px;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
}

h1{
    color: white;
    font-size: 50px;
    background-color: black;
}
nav {
    font-size: 30px;
    background: black;
}

.logo{
    float: left;
    width: auto; 
    height: 150px;
} 

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: black;
    color: #ffffff;
    height: 50px;
    text-align: center;
    padding: 10px 0px;
    position: relative;
    bottom: 10;
    width: 100%;
}
h2{
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}
h3{
    font-size: 30px;
    color: white
}
p{
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}
main{
    background-color: black;
}
form{
    color: white;
}